* {
  margin: 0;
  padding: 0;
}

html{font-family: 'Roboto', sans-serif;}

.info {
  background: grey;
}

.info {
  color: white;
  text-align: center;
  width: 25%;
  height: 100vh;
  background: grey;
  padding-top: 30vh;
  position: fixed;
  text-decoration: none;
  width: 25%;
}

nav ul li {
  display: block;
  width: 100%;
}
